<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.randojoelette">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logorando_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logorando_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AssomemberMainActivity"/>
        <activity android:name=".AssoMainActivity"/>
        <activity android:name=".AccountAssoActivity" />
        <activity android:name=".AccountAssomemberActivity"/>
        <activity android:name=".AccountActivity"/>
        <activity android:name=".AssoAddEventActivity"/>
        <activity android:name=".AssoReadActiveEventActivity"/>
        <activity android:name=".AssoModifyEventActivity"/>
        <activity android:name=".Assomember_read_active_event_activity"/>
        <activity android:name=".Assomember_valid_event_activity"/>
        <activity android:name=".Assomember_modify_event_activity"/>
    </application>

</manifest>